.modal-begin {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Special Elite';

  &:before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/splash_frame_color.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(1px);
  }

  .modal-header {
    position: absolute;
    top: 28%;
    left: 35%;
    font-size: 50px;
    color: white;
    font-weight: bolder;
  }

  .modal-image {
    height: 24%;
    width: 24%;
    margin: 20% auto;
    background: url('../images/detectivei.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .modal-image.fake {
    background: url('../images/fakei.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .modal-category, .modal-secret {
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: 10%;
    font-size: 25px;
    padding-bottom: 15px;
    background-image: url('../images/splatter.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;

    span {
      display: block;
      color: #FFE400;
      font-weight: bold;
    }
  }

  .modal-category {
    left: 25%;
  }

  .modal-secret {
    right: 25%;
  }
}
