@import "resources/variables.scss";

.modal-begin {
  position: absolute;
  text-align: center;
  font-family: 'Special Elite';
  top: calc(50% - 250px);
  left: calc(50% - 400px);
  width: 800px;
  height: 500px;
  // background: url('../images/splash_frame_color.png');
  background-color: $color-manila;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  .modal-image-container {
    position: relative;
    height: 300px;
    width: 270px;
    left: -20px;
    background: white;
    transform: rotate(-4deg);
    box-shadow: 0px 0px 10px -2px black;

    .modal-image {
      position: absolute;
      height: 78%;
      width: 94%;
      top: 3%;
      left: 3%;
      background-color: black;      
      background-image: url('../images/detectivei.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 10px -3px black inset;

      &::before {
        position: absolute;
        top: -35px;
        left: 10px;
        transform: rotate(200deg);
        color: #4C4646;
        font-family: FontAwesome;
        content: '\f0c6';
        font-size: 60px;
      }

      &.fake {
        background-image: url('../images/fakei.png');
      }
    }
  }

  .modal-role {
    position: absolute;
    top: 35px;
    left: 270px;
    width: 500px;
    font-size: 70px;
    color: black;
    background-color: yellow;

    &::before{
      content: 'You are a ';
      font-size: 30px;
      background-color: none;
    }
  }

  .modal-category, .modal-secret {
    position: absolute;
    font-size: 25px;
    color: red;

    span {
      color: black;
      font-weight: bold;
    }
  }

  .modal-category {
    top: 135px;
    left: 310px;
  }

  .modal-secret {
    top: 175px;
    left: 310px;
  }

  .modal-objective {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 250px;
    top: 230px;
    right: 20px;
    box-shadow: 0px 2px 25px -10px black;
    font-size: 20px;
    padding: 7px 0;
    display: flex;
    align-items: center;
    line-height: 1.2em;

    p {
      padding: 10px;
      text-align: left;
    }
  }
}
