.chat-container-outer {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 35px;
  height: 65%;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.chat-container-inner {
  height: 90%;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E0E0E0;  
  border-radius: 10px;
}

.chat-display {
  font-family: 'VT323';
  height: 80%;
  width: 100%;
  color: #12A802;
  font-size: 22px;
  padding: 2px;
  background-color: rgba(0,0,0,1);  
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 1px 15px 0px white inset;
  overflow-y: scroll;
  word-break: break-all;
  hyphens: auto;
}


.chat-display::-webkit-scrollbar {
  width: 1em;
}
 
.chat-display::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.chat-display::-webkit-scrollbar-thumb {
  background-color: #397F30;
  outline: 1px solid slategrey;
}

.chat-message {
  position: relative;
  box-sizing: border-box;
  margin: 5px;
  margin-left: 10px;
}


.chat-message-name {
  font-weight: bolder;
}

.chat-message-name::before {
  content: '>>';
}

.chat-message-content {
  margin-left: 10px;
  padding-bottom: 10px;
  color: #00F000;
}

.chat-message-content::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 25%;
  width: 50%;
  background: #325C49;
  height: 1px;
}

.chat-input {
  height: 20%;
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(20,20,20,1);
  border: 3px solid black;
  border-radius: 0px 0px 10px 10px;
}

.chat-input form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chat-input textarea {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  background-color: transparent;
  font-family: 'VT323';
  font-size: 24px;
  color: #7BCE7D;
  resize: none;
  outline: none;
}

